@import "../../../styles/colors";
@import "../../../styles/globalMixins";

th {
  color: $lightBlue;
}

.table > thead > tr > th {
  cursor: pointer;
  vertical-align: bottom;
  border-bottom: 4px solid $white;
  padding-bottom: 15px;
  letter-spacing: 0.05em;
  padding-left: 15px;
}

.table > thead > tr > th > p {
  min-width: 150px;
}

.table > tbody > tr {
  @include animateTransition(all, 0.5s, $easeInOutQuad);
  cursor: pointer;
}

.table > tbody > tr > td {
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 15px;

  border-bottom: 1px solid $lightBlue;
  background-color: $tableCellEvenCountCellBackgroundColor;
  font-family: $dbOfficeRegular;
}

.table > tbody > tr > td.overdue {
  @include text-shadow(0px, 1px, 2px, rgba(0, 0, 0, 0.2));
  color: #e35920 !important;
  font-family: $dbOfficeBold;
}

.table > tbody > tr > td.soonOver {
  @include text-shadow(0px, 1px, 2px, rgba(0, 0, 0, 0.2));
  color: #d4b535 !important;
  font-family: $dbOfficeBold;
}

.table > tbody > tr > td.waiting {
  @include text-shadow(0px, 1px, 2px, rgba(0, 0, 0, 0.2));
  color: #8fc73f !important;
  font-family: $dbOfficeBold;
}

.table > tbody > tr:hover {
  background-color: $tableHoverCellBackgroundColor;
}

.table > tbody > tr:active {
  background-color: $tableClickCellBackgroundColor;
}

.table > tbody > tr:nth-child(even) > td {
  background-color: $tableCellUnEvenCountCellBackgroundColor;
  color: $lightBlue;
}
