<table class="table">

  <thead>
  <tr>
    <th (click)="sortableHeaderClicked('name', $event)">
      <p>Titel&nbsp;&nbsp;</p>
    </th>
<!--
    <th>Ihre Aufgaben</th>
-->
    <th (click)="sortableHeaderClicked('lastModified', $event)">
      <p>Letzte Änderung ↓</p>
    </th>
    <th (click)="sortableHeaderClicked('state', $event)">
      <p>Status&nbsp;</p>
    </th>
    <th (click)="sortableHeaderClicked('id', $event)">
      <p>Vorgangsnr.&nbsp;</p>
    </th>
    <th (click)="sortableHeaderClicked('creator.username', $event)">
    <p>Creator&nbsp;</p>
    </th>
    <th>
      <p>Description</p>
    </th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor=" let entry of ( data | searchFilter: search | sort: sortBy : sortOrderDESC)" (click)="routeToProjectDetail($event, entry)" [title]="entry.name">
    <td>{{ entry.name.substring(0,50)}}</td>
    <td>{{ entry.lastModified | date: 'dd.MM.yyyy - HH:mm' }}</td>
<!--    <td
      [ngClass]="[entry.task == 'abgelaufen'? 'overdue':'' , entry.task == 'läuft bald ab'? 'soonOver':'' , entry.task == 'wartet'? 'waiting':'']">
      {{ entry.task }}
    </td>-->
    <td>{{ entry.state | simpleTranslation}}</td>
    <td>{{ entry.id }}</td>
    <td>{{ entry.creator.username}}</td>
    <td>{{ entry.description }}</td>
  </tr>
  </tbody>

</table>

