<app-project-header
  [headerState]="demandHeaderState"
  [title]="headerTitle"
  [projectID]="headerVorgangsnummer"
  [projectPercentage]="0"
  (closeProject)="onCloseProjectClicked()"
  *ngIf="isNewEntry">
</app-project-header>

<div class="container demandContentContainer" [ngStyle]="{'margin-top': isNewEntry ? '150px' : '30px'}" [@demandContentState]="demandContentState">
  <div class="row backToProjectHeader" *ngIf="!isNewEntry">
    <div class="col-md-12">
      <div class="backBtn" (click)="onCloseProjectClicked()">
        <img src="assets/img/icons/icon_Back.png" alt="Zurück">
      </div>
      <h2>Bedarf bearbeiten</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-demand-form-component [projectEntityDemand]="entryEntityDemand"
                       [currentProject]="currentEntry"
                       [isNewProject]="isNewEntry"
                       (closeProject)="onCloseProjectClicked()"></app-demand-form-component>
    </div>
  </div>
</div>
