.full-width {
  width: 100%;
}

.half-width {
  width: 55%;
}

.loginScreen{
  margin-top:25vh;
}

.logo{
  width:300px;
  margin-bottom: 35px;
}

.fullscreenBtn{
  cursor: pointer;
  position:absolute;
  right:25px;
  top:25px;
  width:32px;
}
