@font-face {
  font-family: 'DBOffice-Regular';
  src: url('../assets/fonts/dboff03.eot');
  src: url('../assets/fonts/dboff03.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/dboff03.woff') format('woff'),
  url('../assets/fonts/dboff03.ttf') format('truetype'),
  url('../assets/fonts/dboff03.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'DBOffice-Bold';
  src: url('../assets/fonts/dboff06.eot');
  src: url('../assets/fonts/dboff06.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/dboff06.woff') format('woff'),
  url('../assets/fonts/dboff06.ttf') format('truetype'),
  url('../assets/fonts/dboff06.svg#svgFontName') format('svg');
}


