@import "../../../styles/colors";
@import "../../../styles/globalMixins";

.standardButton{
  @include animateTransition(all, 0.5s, $easeInOutQuad);
  @include border-radius(20px);
  @include shadow(0px, 5px, 10px, 0px, rgba(0,0,0,0.3));
  float:left;
  height:40px;
  min-width:40px;
  text-align: center;
  border: none;
  cursor:pointer;
}

.standardButton:focus {
  outline:0 !important;
}

.standardButton.normal {
  background-color: $btnStandardBlueDark;
}

.standardButton.normal:hover, .standardButton.normal:focus{
  background-color: $btnStandardBlueDarkHover;
}

.standardButton.normal:active{
  background-color: $btnStandardBlueDark;
}


.standardButton.secondary{
   background-color: $btnSecondaryBlue;
}

.standardButton.secondary:hover, .standardButton.secondary:focus{
  background-color: $btnSecondaryBlueHover;
}

.standardButton.secondary:active{
  background-color: $btnSecondaryBlue;
}


.standardButton.light{
  background-color: $btnLightWhite;
}

.standardButton.light:hover, .standardButton.light:focus{
  background-color: $btnLightWhiteHover;
}

.standardButton.light:active{
  background-color: $btnLightWhite;
}

.standardButton.light span{
  color: $darkBlueFontColor;
}


.standardButton img{
  margin-top: 5px;
  height: 25px;
  width:auto;
  display:inline-block;
  padding-left:0;
  margin-right:0px;
}

.standardButton.hasIcon.hasTitle img{
  margin-top: -4px;
  margin-left: 15px;
  margin-right: -20px;
}

span{
  @include notSelectable();
  font-size:16px;
  font-family: $dbOfficeRegular;
  letter-spacing:0.06em;
  color: $white;
  line-height: 40px;
  padding-left: 25px;
  padding-right: 25px;
 }
